## MySQL—数据库增删改(字段名、类型、注释、顺序)

1.登录数据库<br>
>mysql -u root -p 数据库用户密码
show databases;

2.查询所有数据表<br>
>show tables;<br>
>use 数据表名称;     切换数据表

3.查询表的字段信息<br>
>desc 表名称;

　　使用desc查看字段，并没有显示建库建表的COMMENT备注，字段信息不能完全符合要做的文档。其实可以在information_schema中查找提取信息。
　　在MySQL可以把 information_schema 看作是一个数据库，确切说是信息数据库。其中保存着关于MySQL服务器所维护的所有其他数据库的信息。如数据库名，数据库的表，表栏的数据类型与访问权限等。在INFORMATION_SCHEMA中，有数个只读表。它们实际上是视图，而不是基本表，因此，你将无法看到与之相关的任何文件。
　　可用如下语句查看表信息：  
  
```sql
SELECT

COLUMN_NAME AS '字段名',

DATA_TYPE AS `数据类型`,

CHARACTER_MAXIMUM_LENGTH AS `字符长度`,

NUMERIC_PRECISION AS `数字长度`,

NUMERIC_SCALE AS `小数位数`,

IS_NULLABLE AS `是否允许非空`,

CASE WHEN EXTRA = 'auto_increment' THEN 1 ELSE 0 END AS `是否自增`,

COLUMN_DEFAULT AS `默认值`,

COLUMN_COMMENT AS `备注`

FROM information_schema.COLUMNS WHERE TABLE_SCHEMA='ghome' AND TABLE_NAME='ghome_rubbish_info';
```

SCHEMATA表：提供了当前mysql实例中所有数据库的信息。是show databases的结果取之此表。  
TABLES表：提供了关于数据库中的表的信息(包括视图)。详细表述了某个表属于哪个schema，表类型，表引擎，创建时间等信息。是show tables from schemaname的结果取之此表。  
COLUMNS表：提供了表中的列信息。详细表述了某张表的所有列以及每个列的信息。是show columns from schemaname.tablename的结果取之此表。  
STATISTICS表：提供了关于表索引的信息。是show index from schemaname.tablename的结果取之此表。  
USER_PRIVILEGES(用户权限)表：给出了关于全程权限的信息。该信息源自mysql.user授权表。是非标准表。  
SCHEMA_PRIVILEGES(方案权限)表：给出了关于方案(数据库)权限的信息。该信息来自mysql.db授权表。是非标准表。  
TABLE_PRIVILEGES(表权限)表：给出了关于表权限的信息。该信息源自mysql.tables_priv授权表。是非标准表。  
COLUMN_PRIVILEGES(列权限)表：给出了关于列权限的信息。该信息源自mysql.columns_priv授权表。是非标准表。  
CHARACTER_SETS(字符集)表：提供了mysql实例可用字符集的信息。是SHOW CHARACTER SET结果集取之此表。  
COLLATIONS表：提供了关于各字符集的对照信息。  
COLLATION_CHARACTER_SET_APPLICABILITY表：指明了可用于校对的字符集。这些列等效于SHOW COLLATION的前两个显示字段。  
TABLE_CONSTRAINTS表：描述了存在约束的表。以及表的约束类型。  
KEY_COLUMN_USAGE表：描述了具有约束的键列。  
ROUTINES表：提供了关于存储子程序(存储程序和函数)的信息。此时，ROUTINES表不包含自定义函数(UDF)。名为“mysql.proc name”的列指明了对应于INFORMATION_SCHEMA.ROUTINES表的mysql.proc表列。  
VIEWS表：给出了关于数据库中的视图的信息。需要有show views权限，否则无法查看视图信息。  
TRIGGERS表：提供了关于触发程序的信息。必须有super权限才能查看该表。  



4.添加表字段<br>
>alter table table1 add transactor varchar(10) not Null;<br>
>alter table table1 add id int unsigned not Null auto_increment primary key<br>

5.批量添加字段<br>
　　方法一：这里可以使用事务<br>
>bagin;                                       // 事务开始<br>
>alter table em_day_data add f_day_house7 int(11);<br>
>alter table em_day_data add f_day_house8 int(11);<br>
>alter table em_day_data add f_day_house9 int(11);<br>
>alter table em_day_data add f_day_house10 int(11);<br>
>commit;                                      // 提交事务，事务结束<br>
事务（transaction）是由一系列操作序列构成的程序执行单元，这些操作要么都做，要么都不做，是一个不可分割的工作单位。<br>

　　方法二 :mysql 批量为表添加多个字段<br>
>alter table 表名 add (字段1 类型(长度),字段2 类型(长度),字段3 类型(长度));<br>
>alter table em_day_data add (f_day_house11 int(11),f_day_house12 int(11),f_day_house13 int(11));<br>
 
6.删除一个字段<br>
>ALTER TABLE mytable DROP 字段名;
>alter table user DROP COLUMN new2;

7.修改某个表的字段类型及指定为空或非空<br>
>alter table 表名称 modify 字段名称 字段类型 约束;          // DEFAULT NULL  默认为空  NOT NULL   默认不能为空<br>

8.修改某个表的字段名称及指定为空或非空<br>
>alter table 表名称 change 字段原名称 字段新名称 字段类型 约束; // 修改一个字段的名称，此时一定要重新指定该字段的类型<br>

9.批量修改字段名称<br>
>alter table 表名 change 修改前字段名1  修改后字段名称1 int(11) not null,<br>
>change 修改前字段名2  修改后字段名称2 int(11) not null,<br>
>change 修改前字段名3  修改后字段名称3 int(11) not null,<br>
>change 修改前字段名4  修改后字段名称4 int(11) not null,<br>
>change 修改前字段名5  修改后字段名称5 int(11) not null<br>

在网站重构中，通常会进行数据结构的修改，所以添加，删除，增加mysql表的字段是难免的，有时为了方便，还会增加修改表或字段的注释，把同字段属性调整到一块儿。这些操作可以在phpmyadmin或者别的mysql管理工具中完成，但是我们有时为了更方便的管理，会选择写sql语句来实现。<br> 
10.添加注释<br>
>ALTER TABLE `table_name` COMMENT'注释';                // 可以为表添加注释<br>
>ALTER TABLE `table_name` CHANGE `column_name` `column_name` type(longth) UNSIGNED NULL DEFAULT NULL COMMENT '注释'// 为字段添加注释，同样适用于修改<br>

11.调整字段顺序：<br>
>alter table 表名 change 字段名 新字段名 字段类型 默认值 after 字段名(跳到哪个字段之后)<br>