## Python Pandas学习(1)
参考：[Pandas教程](https://www.yiibai.com/pandas/python_pandas_series.html)<br>

## Pandas绘图
　　Pandas库包含基本的绘图功能，可以让你创建各种绘图。Pandas中的绘图是在matplotlib之上构建的，如果你很熟悉matplotlib你会惊奇地发现他们的绘图风格是一样的。
### 1.1、直方图hist
　　直方图是了解数值变量分布的一种有用工具,它将一个数值变量分组到各个数值单元中，并显示每个单元中的观察值数量。<br>
　　用法：<br>
> diamonds.hist(column="carat",        # 具体列<br>
              figsize=(8,8),         # 图片大小<br>
              color="blue");         # 绘画颜色<br>

　　参数：<br>
>column="carat"        # 具体列<br>
figsize=(8,8)         # 图片大小<br>
color="blue"         # 绘画颜色<br>
bins=50             # 条形数量<br>               
range= (0,3.5)       # x轴宽度<br>
#### 方法一
　　使用Pandas的画图函数：df.hist()　　
#### 方法二
　　使用Pandas的画图函数：df.plot(kind='hist')

### 1.2、箱型图boxplot         
　　用法：<br>
>DataFrame.boxplot(column=None, by=None, ax=None, fontsize=None, rot=0, grid=True, figsize=None, layout=None, return_type=None, **kwds)<br>

　　方法说明:<br> 
>boxplot方法只是用于DataFrame，Series对象没有此方法<br>

　　参数说明:<br>
>column　　　# 默认为None，输入为str 或由str构成的list,其作用是指定要进行箱型图分析的列<br>
by　　　# 默认为None，str or array-like，其作用为pandas的group by，通过指定by=‘columns’，可进行多组合箱型图分析<br>
ax　　　# matplotlib.axes.Axes的对象，没有太大作用<br>
fontsize　　　# 箱型图坐标轴字体大小<br>
rot　　　# 箱型图坐标轴旋转角度<br>
grid　　　# 箱型图网格线是否显示<br>
figsize　　　# 箱型图窗口尺寸大小<br>
layout　　　# 必须配合by 一起使用，类似于subplot 的画布分区域功能<br>
return_type　　　# 指定返回对象的类型，默认为None,可输入的参数为‘axes’,‘dict’,‘both’，当与by一起使用是，返回的对象为Series或array(for return_type = None)<br>

箱型图返回结果说明：<br>
　　　　　当指定return_type=‘dict’时，其结果值为一个字典，字典索引为固定的'whiskers'、'caps'、'boxes'、'fliers'、'means'，此时，通过指定索引值获取相应数据。如：
boxplot['fliers'][1].get_xdata()<br>

### 1.3、密度图plot
　　密度图以连续曲线显示数值变量的分布。它类似于柱状图，但密度图能更好地显示分布的基本形状。<br>
>series.plot(kind="density")<br>
diamonds["carat"].plot(kind="density", figsize=(8,8), xlim= (0,5))<br>
### 1.4、条形图plot<br>
　　条形图是直观显示分类变量计数的图形。df.plot(kind="bar")<br>
　　用法：<br>
>carat_table = pd.crosstab(index=diamonds["clarity"], columns="count")<br>
carat_table<br>
carat_table.plot(kind="bar", figsize=(8,8));<br>

　　可以使用二维表格创建堆积条形图。堆积条形图显示每个条形图中另一个变量的分布：<br>
>carat_table = pd.crosstab(index=diamonds["clarity"], columns=diamonds["color"])<br>
carat_table<br>
carat_table.plot(kind="bar",figsize=(8,8),stacked=True)<br>

　　分组条形图是堆叠条形图的另一种选择，设置stacked=False即可：<br>
>carat_table.plot(kind="bar",figsize=(8,8),stacked=False)<br> 
```python
# ax = df.plot(kind='bar')
fig, ax = plt.subplots()
df1.plot(kind="bar", figsize=(16,5), ax=ax)

# format xtick-labels with list comprehension
ax.set_xticklabels([x.strftime("%Y-%m-%d") for x in df1.index], rotation=45， fontsize=60)    #绘制横轴坐标样式
# 测试1
plt.axis('off')     # 隐藏坐标轴
# 测试2
# 隐藏单个的坐标轴——如x坐标 .get_xaxis()函数
ax1 = plt.axes()
x_axis = ax1.axes.get_xaxis()
x_axis.set_visible(False)    
# 或者这种
fig, axes = plt.subplots(ind_num, col_num)  # 生成ind_num * col_num个
axes[0, 1].xaxis.set_visible(False)  # 把第一个
# 测试3
# 隐藏坐标轴标签
x_label = x_axis.get_label()
x_label.set_visible(False)
"""或者这样"""
x_axis = ax1.xaxis
x_axis.lable.set_visible(False)
# 或者这样：
ax1 = plt.axes()
ax1.xaixs.label.set_visible(False)

# 测试4
# 调整subplots的xaxis的起始数值（一般情况下，单个figure使用plt.xlim（官方文档链接）即可）
plt.xlim(left=起始数, right=结束数) 
# 等价于plt.xlim([left=起始数, right=结束数])






plt.show()
```  

### 1.5、散点图
　　散点图是双变量图，采用两个数值变量，并在x/y平面上绘制数据点。创建单个散点图使用方法df.plot(kind="scatter")：<br>
>diamonds.plot(kind="scatter",     # Create a scatterplot<br>
              x="carat",          # Put carat on the x axis<br>
              y="price",          # Put price on the y axis<br>
              figsize=(10,10),<br>
              ylim=(0,20000))<br>

### 1.6、折线图
　　折线图通常用于绘制时间序列数据<br>
>years = [y for y in range(1950,2016)]<br>
readings = [(y+np.random.uniform(0,20)-1900) for y in years]<br>
time_df = pd.DataFrame({"year":years,"readings":readings})<br>
<br>
time_df.plot(x="year", y="readings", figsize=(9,9))<br>

### 1.7、保存绘图
　　如果要保存图片供以后使用，两步就可以轻松解决：首先用plot.get_figure()，然后用figure.savefig("filename")。图片可以保存为多种常见的文件格式，例如png、jpeg和pdf。<br>
>my_plot = time_df.plot(x="year",y="readings",figsize=(9,9))<br>
my_fig = my_plot.get_figure()<br>            
my_fig.savefig("line_plot_example.png") <br>

## 二、Pandas高效函数
　　Pandas有很多让人舒适的用法，熟练掌握这些pandas函数都能帮我们在数据分析过程中节省时间。<br>
### 2.1、explode
　　explode用于将一行数据展开成多行。比如说dataframe中某一行其中一个元素包含多个同类型的数据，若想要展开成多行进行分析，这时候explode就派上用场，而且只需一行代码，非常节省时间。<br>
　　用法：
>DataFrame.explode(self, column: Union[str, Tuple])<br>

　　参数作用：
>column ：str或tuple<br>

　　以下表中第三行、第二列为例，展开[2,3,8]。<br>

In [7]:
import pandas as pd
import numpy as np

In [5]:
import pandas as pd
# 先创建表
id = ['a','b','c']
measurement = [4,6,[2,3,8]]
day = [1,1,1]
df1 = pd.DataFrame({'id':id, 'measurement':measurement, 'day':day})
df1
print(df1)
# 使用explode轻松将[2,3,8]转换成多行，且行内其他元素保持不变。
df1.explode('measurement').reset_index(drop=True)

  id measurement  day
0  a           4    1
1  b           6    1
2  c   [2, 3, 8]    1

  id measurement  day
0  a           4    1
1  b           6    1
2  c           2    1
3  c           3    1
4  c           8    1

### 2.2、nunique
　　Nunique用于计算行或列上唯一值的数量，即去重后计数。这个函数在分类问题中非常实用，当不知道某字段中有多少类元素时，Nunique能快速生成结果。<br>
　　用法：<br>
>Series.nunique(dropna=True)<br>
\# 或者<br>
DataFrame.nunique(axis=0, dropna=True)<br>

　　参数作用：<br>
>axis：int型，0代表行，1代表列，默认0；<br>
dropna：bool类型，默认为True，计数中不包括NaN；<br>

In [14]:
# 先创建一个df：
values_1 = np.random.randint(10, size=10)
values_2 = np.random.randint(10, size=10)
years = np.arange(2010,2020)
groups = ['A','A','B','A','B','B','C','A','C','C']
df = pd.DataFrame({'group':groups, 'year':years, 'value_1':values_1, 'value_2':values_2})
print(df)

# 对year列进行唯一值计数：
print('\n',df.year.nunique())        # 输出：10 对整个dataframe的每一个字段进行唯一值计数：
df.nunique()

  group  year  value_1  value_2
0     A  2010        4        9
1     A  2011        4        5
2     B  2012        3        5
3     A  2013        8        6
4     B  2014        6        2
5     B  2015        8        6
6     C  2016        0        9
7     A  2017        7        0
8     C  2018        0        8
9     C  2019        1        3

 10

group       3
year       10
value_1     7
value_2     7
dtype: int64

### 2.3、infer_objects
　　infer_objects用于将object类型列推断为更合适的数据类型。<br>
　　用法：<br>
>DataFrame.infer_objects()　　　# 直接将df或者series推断为合适的数据类型<br>

　　pandas支持多种数据类型，其中之一是object类型。object类型包括字符串和混合值（数字及非数字）。<br>
　　object类型比较宽泛，如果可以确定为具体数据类型，则不建议用object。<br>

In [20]:
df = pd.DataFrame({"A": ["a", 1, 2, 3]})
print(df, '\n')
df = df.iloc[1:]
print(df,'\n')
print(df.dtypes, '\n')

print(df.infer_objects().dtypes, df)     # 使用infer_objects方法将object推断为int类型

   A
0  a
1  1
2  2
3  3

   A
1  1
2  2
3  3

A    object
dtype: object

A    int64
dtype: object    A
1  1
2  2
3  3

### 2.4、memory_usage
　　memory_usage用于计算dataframe每一列的字节存储大小，这对于大数据表非常有用。<br>
　　用法：<br>
>DataFrame.memory_usage(index=True, deep=False)<br>

　　参数解释：<br>
>index：指定是否返回df中索引字节大小，默认为True，返回的第一行即是索引的内存使用情况；<br>
deep：如果为True，则通过查询object类型进行系统级内存消耗来深入地检查数据，并将其包括在返回值中。<br>

In [29]:
#首先创建一个df，共2列，1000000行。
df_large = pd.DataFrame({'A': np.random.randn(1000000),'B': np.random.randint(100, size=1000000)})
print(df_large.shape, '\n')
df_large.memory_usage()      # 返回每一列的占用字节大小
# 第一行是索引index的内存情况，其余是各列的内存情况。

(1000000, 2)

Index        128
A        8000000
B        4000000
dtype: int64

### 2.5、replace
　　顾名思义，replace是用来替换df中的值，赋以新的值。<br>
　　用法：<br>
>DataFrame.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad')<br>

　　参数解释：<br>
>to_replace：被替换的值<br>
value：替换后的值<br>
inplace：是否要改变原数据，False是不改变，True是改变，默认是False<br>
limit：控制填充次数<br>
regex：是否使用正则,False是不使用，True是使用，默认是False<br>
method：填充方式，pad,ffill,bfill分别是向前、向前、向后填充<br>

In [30]:
# 创建一个df：
values_1 = np.random.randint(10, size=10)
values_2 = np.random.randint(10, size=10)
years = np.arange(2010,2020)
groups = ['A','A','B','A','B','B','C','A','C','C']
df = pd.DataFrame({'group':groups, 'year':years, 'value_1':values_1, 'value_2':values_2})
print(df, '\n')
print(df.replace('A','D'), '\n')       # 将A全部替换为D
df.replace({'B':'E','C':'F'})      # 将B替换为E，C替换为F

  group  year  value_1  value_2
0     A  2010        0        2
1     A  2011        2        4
2     B  2012        8        3
3     A  2013        4        2
4     B  2014        3        6
5     B  2015        1        9
6     C  2016        8        7
7     A  2017        0        4
8     C  2018        3        9
9     C  2019        3        9

  group  year  value_1  value_2
0     D  2010        0        2
1     D  2011        2        4
2     B  2012        8        3
3     D  2013        4        2
4     B  2014        3        6
5     B  2015        1        9
6     C  2016        8        7
7     D  2017        0        4
8     C  2018        3        9
9     C  2019        3        9

  group  year  value_1  value_2
0     A  2010        0        2
1     A  2011        2        4
2     E  2012        8        3
3     A  2013        4        2
4     E  2014        3        6
5     E  2015        1        9
6     F  2016        8        7
7     A  2017        0        4
8     F  2018        3        9
9     F  2019        3        9